@import "tailwindcss";
@theme {
    --font-display: "Oswald", "sans-serif";
    --breakpoint-xm: 300px;
    --breakpoint-sm: 500px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    --breakpoint-xl: 1200px;
    --breakpoint-3xl: 1920px;
    --font-poppins: "Poppins", "serif";
    --font-roboto: "Roboto", sans-serif;
    --font-tajawal: 'Tajawal', sans-serif;
    --font-inter: "Inter", sans-serif;
}

a.active hr {
    display: block;
    transition: all linear 1s;
}

@media (max-width: 768px) {
    .nav-btn.active {
        background: black;
        color: azure;
    }
}

body {
    font-family: "Cairo", sans-serif;
}